

		@media only screen and (max-width: 500px) {
    	#phone { display:none !important; }
    	#screencontainer { width: 100% !important; height:auto !important; left:0% !important; margin-left: 0% !important; }
    	.screen { width:100% !important; margin-top: 0% !important; padding-left: 0% !important; padding-right: 0% !important; }
    	.header { width:100% !important; height:50px !important; left:0% !important; margin-left: 0% !important; font-size: 2em !important; line-height: 1.5em !important; }
    	.devices { display: none; }
    	.x-statement { font-size: 1.7em !important; line-height: 1.4em !important; margin-top: 20% !important; }
		.copy { font-size: 1em !important; line-height: 1.5em !important; }
		.calltoaction { font-size: 1.25em !important; }
		.headerlogo {
				line-height: 0.5em !important;
			}
		}

			* {
				margin: 0;
				padding: 0;
				}

			body {
				width:100%;
				height: 100%;
				font-family: Helvetica, sans-serif;
				font-weight: 300;
			}

			body a {
				text-decoration: none;
				color: #000;
			}



			.content {
				width:100%;
				margin: 0 auto;
				position: absolute;
			}

			#phone {
				/*display: block;*/
				width:25%;
				min-width: 275px;
				min-height: 558px;
				height:100%;
				margin: 0 auto;
				/*overflow: hidden; */
				background: url("../img/iphone6-small.png") no-repeat top center; 
				z-index: 10;
				position: fixed;
				left:50%;
				margin-left: -12.5%;
				background-size: 100% auto;
				pointer-events: none;
			}

			/*#phone img {
				width:421.5px;
				height:855px;
				margin: 0 auto;
				position: fixed;
				z-index:100;
			}*/

			.fullwidth {
				width:100%;
				height:auto;
				display:block;
				overflow:hidden;
			}

			.tablet {
				/*display: none;*/
				width:100%;
				height:100%;
				position:fixed; 
				overflow: hidden; 
				background-image: url("../img/tablet.png"); 
				background-repeat: no-repeat;
				background-position: top center;
				background-size: contain;
				z-index: 10;
				top:0;
			}

			.desktop {
				/*display: none;*/
				width:100%;
				height:100%;
				position:fixed; 
				overflow: hidden; 
				background-image: url(""); 
				background-repeat: no-repeat;
				background-position: top center;
				background-size: contain;
				z-index: 10;
				top:0;
			}


			#screencontainer {
				width:25%;
				min-width: 275px;
				min-height: 558px;
				height: 2000px;
				/*min-width:375px;*/
				/*left:50%;
				margin-left: -187.5px;*/
				position: relative;
				left:50%;
				margin-left: -12.5%;
				/*z-index: 1000;*/

			}

			.screen {
				width:88%;
				height:auto;
				z-index: 1;
				margin-top: 24.5%;
				overflow: auto;
				/*display: inline-block;*/
				position: absolute;
				padding-left: 6%;
				padding-right: 6%;
			}

			.header {
				height:7%;
				min-height: 44px;
				width:25%;
				min-width: 275px;
				background-color: #888;
				text-align: center;
				font-weight: 700;
				text-transform: uppercase;
				vertical-align: middle;
				font-size: 2vw;
				line-height: 3.5vw;
				/*margin-bottom: 10%;*/
				display: block;
				position: fixed;
				left:50%;
				margin-left: -12.5%;
				z-index: 8;

			}

			.headerlogo {
				text-align: center;
				font-weight: 700;
				text-transform: uppercase;
				vertical-align: middle;
				line-height: 44px;
			}

			.x-statement {
				font-family: Helvetica, sans-serif;
				font-size: 1.7vw;
				font-weight: bold;
				margin-bottom:7%;
				line-height: 2.2vw;
				text-align: left;
				margin-left: 6%;
				margin-right:6%;
				display: block;
				margin-top: 24.5%;
			}
			.heading {
				font-family: Helvetica, sans-serif;
				font-size: 1.4vw;
				font-weight: bold;
				margin-bottom:7%;
				line-height: 1.6vw;
				text-align: left;
				margin-left: 6%;
				margin-right:6%;
				display: block;
				/*margin-top: 24.5%;*/
			}

			.video {
				width:100%;
				height:auto;
				margin-bottom: 5%;
				content:url("../img/video.png");
				overflow: hidden;

			}

			.search {
				width:100%;
				height:auto;
				margin-bottom: 5%;
				content:url("../img/search.png");
				overflow: hidden;

			}



			.image {
				width:100%;
				height:auto;
				margin-bottom: 5%;
				content:url("../img/image.png");
				overflow: hidden;

			}


			.devices {
				position: fixed;
				width:300px;
				height:60px;
				bottom:20px;
				left:20px;
				padding:0 0 0 0;
				z-index: 100;
				border-radius: 0px;
				text-align: center;
			}

			.device {
				width:60px;
				height:60px;
				display: inline-block;
				float: left;
				/*line-height: 60px;*/
				border-radius: 50%;
				border:3px solid #e67700;
				margin-right: 5px;
				margin-left:5px;
				background-color: #fff;
			}

			.device img {
				width: auto;
				height: 30px;
				margin-top: 15px;
				position: center center;
			}

			.carousel {
				width: 85% !important;
				margin: 0 auto;
				height: auto !important;
			}

			.carousel img {
				width:100%;
			}

			#carousel ul,  
			#carousel li{  
			    padding: 0;  
			    list-style: none;  
			    list-style-type: none;  
			}

			#carousel ul{  
			    position: relative;  
			    width: 100%;  
			    margin: 0;  
			}  	  

			#carousel li{  
			    display: block;  
			    border: 1px solid #ccc;  
			    overflow: hidden;  
			    width: 16%;  
			    margin: 2%;  
			    float: left;  
			    -moz-box-sizing: border-box;  
			    -webkit-box-sizing: border-box;  
			    box-sizing: border-box;  
			    height: 100px;  
			} 

			.copy {
				font-size: 1vw;
				line-height: 1.5vw;
				font-weight: 100;
				font-family: Helvetica, sans-serif;
				margin: 10% 6% 7% 6%;
			}

			.calltoaction {
				border-radius:15px;
				padding: 10px 20px 10px 20px;
				border: 3px solid #888;
				text-align:center;
				width:auto;
				margin: 0 15% 7% 15%;
				font-weight: 700;
				font-size: 1.25vw;
			}

			.calltoaction:hover {
				text-decoration: none;
				background-color: #888;
				color: #fff;
			}

			.avatar {
				width:25%;
				height: auto;
				border-radius: 50%;
				overflow: hidden;
				margin-bottom: 7%;
				margin-left: 6%;
			}

			.avatar img { width:100%;height:100%;}

/*			.phonetop {
				width:25%;
				min-width: 275px;
				margin: 0 auto;
				height: auto;
				display: block;
				z-index: 100;
				position: fixed;
				left:50%;
				margin-left: -12.5%;
			} 

			.phonetop img {
				width:100%;

			}

			.phonebottom {
				width:25%;
				min-width: 275px;
				margin: 0 auto;
				height: auto;
				display: block;
				z-index: 100;
				position: fixed;
				left:50%;
				margin-left: -12.5%;
				top:80%;
			} 

			.phonebottom img {
				width:100%;

			}

			.phoneright {
				height:90vh;
				display: inline-block;
				float:left;
				z-index: 2;
			} 

			.phoneright img {
				width:100%;

			}*/



/*SLICK CAROUSEL*/

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;


}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;

}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/*SLICK THEME*/

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../js/slick/slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../js/slick/slick/fonts/slick.eot');
    src: url('../js/slick/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../js/slick/slick/fonts/slick.woff') format('woff'), url('../js/slick/slick/fonts/slick.ttf') format('truetype'), url('../js/slick/slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #888;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -20px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -21px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    /*bottom: -45px;*/

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

